/*---------------------------------------------------------------*/
/*----------- components/footer-base-variables.scss -------------*/
/*---------------------------------------------------------------*/
@use "../layout/layout-base-variables";

:root {
	/* --footer-base-min-height: ; */
	--footer-base-justify-content: center;
	--footer-base-gap: 1rem;
	/* --footer-base-min-height: ; */
	--footer-base-max-width: 100%;
	--footer-base-padding: 1rem 3%;
	--footer-base-background-color: var(--application-base-tint-1-background-color);
	--footer-base-text-color: var(--application-base-tint-1-text-color);
	--footer-base-font-family: var(--text-base-font-family, sans-serif);
	--footer-base-font-size: var(--text-base-font-size);
	--footer-base-line-height: var(--text-base-font-size);

	/* After breakpoint 1 */
	--footer-base-breakpoint-1-padding: var(--footer-base-padding);

	/* After breakpoint 2 */
	--footer-base-breakpoint-2-padding: var(--footer-base-breakpoint-1-padding);

	/* Links */
	/* --footer-base-link-text-color: ; */
	--footer-base-link-text-decoration: none;

	/* Links hover */
	--footer-base-link-hover-text-color: var(--footer-base-link-text-color);
	--footer-base-link-hover-text-decoration: underline;

	/* List */
	--footer-base-list-gap: 1rem;
	--footer-base-list-padding: var(--footer-base-padding);
	--footer-base-list-flex-direction: row;
	--footer-base-list-flex-wrap: wrap;
	--footer-base-list-align-items: center;
	--footer-base-list-justify-content: flex-end;

	/* List items */
	--footer-base-list-item-list-style: none;
}

/* Breakpoint */
/* Overwrite the default reference with your value */
/* E.g: $layout-base-footer-content-breakpoint-1: 42rem; */
$footer-base-content-block-breakpoint-1: layout-base-variables.$layout-base-content-block-breakpoint-1;
$footer-base-content-block-breakpoint-2: layout-base-variables.$layout-base-content-block-breakpoint-2;
