/*---------------------------------------------------------------*/
/*--------------------- headings-base.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "headings-base-variables";

h1,
h2,
h3,
h4,
h5,
h6 {
	hyphens: auto;
	margin: 0;
}

h1,
h1 > a {
	font-size: var(--headings-base-h1-font-size, inherit);
	color: var(--headings-base-h1-text-color, inherit);
	font-weight: var(--headings-base-h1-font-weight, inherit);
	line-height: var(--headings-base-h1-line-height, inherit);
}

h2,
h2 > a {
	font-size: var(--headings-base-h2-font-size, inherit);
	color: var(--headings-base-h2-text-color, inherit);
	font-weight: var(--headings-base-h2-font-weight, inherit);
	line-height: var(--headings-base-h2-line-height, inherit);
}

h3,
h3 > a {
	font-size: var(--headings-base-h3-font-size, inherit);
	color: var(--headings-base-h3-text-color, inherit);
	font-weight: var(--headings-base-h3-font-weight, inherit);
	line-height: var(--headings-base-h3-line-height, inherit);
}

h4,
h4 > a {
	font-size: var(--headings-base-h4-font-size, inherit);
	color: var(--headings-base-h4-text-color, inherit);
	font-weight: var(--headings-base-h4-font-weight, inherit);
	line-height: var(--headings-base-h4-line-height, inherit);
}

h5,
h5 > a {
	font-size: var(--headings-base-h5-font-size);
	color: var(--headings-base-h5-text-color);
	font-weight: var(--headings-base-h5-font-weight);
	line-height: var(--headings-base-h5-line-height, initial);
}

h6,
h6 > a {
	font-size: var(--headings-base-h6-font-size);
	color: var(--headings-base-h6-text-color);
	font-weight: var(--headings-base-h6-font-weight);
	line-height: var(--headings-base-h6-line-height, initial);
}
