/*---------------------------------------------------------------*/
/*----------- text-styling/headings-base-variables.scss ---------*/
/*---------------------------------------------------------------*/
:root {
	/* h1 */
	--headings-base-h1-font-size: 1.75rem;
	/* --headings-base-h1-text-color: ; */
	/* --headings-base-h1-font-weight: ; */
	/* --headings-base-h1-line-height: ; */

	/* h2 */
	--headings-base-h2-font-size: 1.5rem;
	/* --headings-base-h2-text-color: ; */
	/* --headings-base-h2-font-weight: ; */
	/* --headings-base-h2-line-height: ; */

	/* h3 */
	--headings-base-h3-font-size: 1.25rem;
	/* --headings-base-h3-text-color: ; */
	/* --headings-base-h3-font-weight: ; */
	/* --headings-base-h3-line-height: ; */

	/* h4 */
	--headings-base-h4-font-size: var(--text-base-font-size);
	/* --headings-base-h4-text-color: ; */
	/* --headings-base-h4-font-weight: ; */
	/* --headings-base-h4-line-height: ; */

	/* h5 */
	--headings-base-h5-font-size: var(--text-base-font-size);
	/* --headings-base-h5-text-color: ; */
	/* --headings-base-h5-font-weight: ; */
	/* --headings-base-h5-line-height: ; */

	/* h6 */
	--headings-base-h6-font-size: var(--text-base-font-size);
	/* --headings-base-h6-text-color: ; */
	/* --headings-base-h6-font-weight: ; */
	/* --headings-base-h6-line-height: ; */
}
