/*----------------------------------------------------------------------------------*/
/*--------------------- text-styling/link-base-variables.scss ----------------------*/
/*----------------------------------------------------------------------------------*/
:root {
	/* Link */
	--link-base-background-color: unset;
	--link-base-text-color: #0000c2;
	--link-base-hover-text-color: #000088;

	/* Visted link */
	--link-base-visited-text-color: #5b109f;
	--link-base-visited-hover-text-color: #400b6f;
}
