/*----------------------------------------------------------------------------------*/
/*------------------ text-styling/max-line-length-variables.scss -------------------*/
/*----------------------------------------------------------------------------------*/
:root {
	--max-line-length-max-width: 50rem;
	--max-line-length-hyphens: auto;
	/* --max-line-length-word-wrap: ; */

	/* After breakpoint 1 */
	--max-line-length-breakpoint-1-hyphens: none;
	--max-line-length-breakpoint-1-word-wrap: normal;
}


/* Breakpoints */
$max-line-length-breakpoint-1: 24rem;
