/*----------------------------------------------------------------------------------*/
/*------------------------- text-styling/p-variables.scss --------------------------*/
/*----------------------------------------------------------------------------------*/
:root {
	--p-base-line-height: var(--application-base-line-height);
	--p-base-font-size: var(--application-base-font-size);
	--p-base-font-weight: var(--application-base-font-weight);
	--p-base-text-color: var(--application-base-text-color);
	--p-base-background-color: unset;
}
