/*---------------------------------------------------------------*/
/*--------------------- components/p.scss -----------------------*/
/*---------------------------------------------------------------*/
@use "p-base-variables";

p {
	margin: 0;
	line-height: var(--p-base-line-height);
	font-size: var(--p-base-font-size);
	font-weight: var(--p-base-font-weight);
	color: var(--p-base-text-color);
	background-color: var(--p-base-background-color);
}
