{
    "client-123": {
        "name": "Client 123",
        "redirect_uris": [
            "https://pap-demo-client.localdev:445/callback.html",
            "https://127.0.0.1/"
        ]
    },
    "client-456": {
        "name": "Client 456",
        "redirect_uris": [
            "https://pap-demo-client.localdev:445/callback.html",
        ]
    }
}
