/*---------------------------------------------------------------*/
/*---------------- top-level-notification.css -------------------*/
/*---------------------------------------------------------------*/
main > article > p.explanation {
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}
