header {
  width: 100%;
  max-width: 100%;

  & > div {
    box-sizing: border-box;
    max-width: var(--layout-base-content-block-max-width);
    margin: 0 auto;
    padding: 1rem 2rem;
    background: #fff;
  }
}
