fieldset.birthdate {
  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1rem;
    max-width: 22rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
