.icon-chevron-up:before {
  content: "\5e"; /* ^ */
}
.icon-chevron-down:before {
  content: "\76"; /* v */
}
.icon-chevron-right:before {
  content: "\3e"; /* > */
}
.icon-chevron-left:before {
  content: "\3c"; /* < */
}
