.language {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  a {
    font-size: var(--headings-h2-font-size);
    font-weight: var(--headings-h2-font-weight);
    text-decoration: none;
    word-break: normal;
    padding: 0rem 0.5rem;
    border-bottom: 2px solid #fff;

    &[aria-current="page"],
    &:hover {
      border-bottom: 2px solid var(--application-base-accent-color);
    }

    &:focus {
      outline-offset: 0;
    }
  }
}
