/*---------------------------------------------------------------*/
/*--------------- components/form-button.scss -------------------*/
/*---------------------------------------------------------------*/
form {
	button,
	a.button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		align-self: flex-start;
		width: auto;
	}

	> button,
	> a.button,
	> input[type="button"],
	> input[type="submit"],
	> input[type="reset"] {
		&:last-child {
			margin-bottom: -2rem;
			margin-top: 2rem;
		}
	}

	/* Grouped buttons */
	fieldset > .button-container,
	> .button-container {
		button,
		a.button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"] {
			margin-top: 0;

			&:first-child {
				margin-left: 0;
			}
		}

		&:last-child {
			/*margin-bottom: -2rem;*/

			> button,
			> a.button,
			> input[type="button"],
			> input[type="submit"],
			> input[type="reset"] {
				margin-bottom: 0;
			}
		}
	}

	&.horizontal-view fieldset > .button-container,
	&.horizontal-view > .button-container {
		button,
		a.button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"] {
			margin-left: 0;
		}

		@media (min-width: 50rem) {
			margin-left: calc(33.33% - 0.25rem);
			max-width: 66.66%;
		}
	}
}
