/*---------------------------------------------------------------*/
/*-------------- components/form-fieldset.scss ------------------*/
/*---------------------------------------------------------------*/
/* Fieldset styling is a bit different compared to the default form styling.
This is because of a couple of styling restrictions and issues concerning fieldsets and it's children.
- Fieldsets can't use flexbox 
- When elements within the fieldset use flexbox, unwanted white-space appears at the bottom of the fieldset.
The amount of whitespace depends on the length of the fieldset before flex positioning took place. And will not be removed after. 

The usage of fieldsets is recommended because it is the semantically correct element to use for form grouping.
As well as it improves the experience for users who are using a screenreader to navigate the form. 

To prevent these issues to cause unexpected behaviour the fieldset and it's children within this set do no use flexbox for their positioning.
But the alternative styling as you can see below.

For more information on the bug see: https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
and: https://bugs.chromium.org/p/chromium/issues/detail?id=262679 */

form {
	fieldset {
		padding: 0;
		border: 0;
		margin: 2rem 0 0 0;
		display: inline-block;
		position: relative;
		min-width: 0;
		width: 100%;

		legend {
			padding-left: 0; /* Overwriting default browser padding because it's not needed when the fieldset doesn't have border */
			font-weight: bold;
			font-size: var(--font-size-text-larger);
			z-index: 1;
			position: relative;
		}

		> * {
			margin-top: 1.5rem;

			&:first-child {
				margin-top: 0;
			}
		}

		label,
		input,
		textarea,
		select {
			width: 100%;
		}

		label {
			display: inline-block;
		}

		button,
		a.button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"] {
			width: auto;
			display: block;

			&:before {
				vertical-align: middle;
			}
		}

		input[type="radio"],
		input[type="checkbox"] {
			vertical-align: top;
		}

		> fieldset {
			width: 100%;

			div,
			p {
				&.error,
				&.warning,
				&.confirmation,
				&.explanation {
					float: left;
				}
			}
		}

		div,
		p {
			&.error,
			&.warning,
			&.confirmation,
			&.explanation {
				float: left;
			}
		}

		.button-container {
			display: block;
			float: left;

			> * {
				margin-right: 0.5rem;
			}

			button,
			a.button,
			input[type="button"],
			input[type="submit"],
			input[type="reset"] {
				display: block;
				float: left;
				text-align: left;
			}
		}

		.column-2,
		.column-3,
		.column-4 {
			box-sizing: border-box;

			> * {
				width: 100%;
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;
			}
		}

		@media (min-width: 42rem) {
			.column-2,
			.column-3 {
				> * {
					width: 46%;
				}
			}
		}

		@media (min-width: 60rem) {
			.column-3,
			.column-4 {
				> * {
					width: 29.33%;
				}
			}
		}

		@media (min-width: 60rem) {
			.column-4 {
				> * {
					width: 21%;
				}
			}
		}
	}

	&.horizontal-view {
		@media (min-width: var(--form-breakpoint)) {
			/* Aliging grouped choice list */
			input[type="checkbox"],
			input[type="radio"] {
				margin-left: 33.33%;
			}
		}

		fieldset {
			> div {
				margin-top: 2rem;
				float: left; /* used to re-render the div so long labels won't run out of the div */
				width: 100%;

				&.required {
					label {
						padding-top: 1.75rem; /* Reserving space for the nota bene text */
					}

					input[type="radio"],
					input[type="checkbox"] {
						+ label {
							padding-top: 0;
						}
					}

					> div {
						span.nota-bene {
							max-width: 100%;
						}
					}
				}

				label,
				input,
				textarea,
				select {
					max-width: 100%;
				}

				input[type="radio"],
				input[type="checkbox"] {
					width: 1.25rem;

					& + label {
						float: none;
						width: calc(100% - 2.2rem);

						@media (min-width: var(--form-breakpoint)) {
							width: calc(66.66% - 2.2rem);
						}
					}
				}

				input[type="color"] {
					width: 44px;
				}

				> span {
					max-width: 100%;

					@media (min-width: var(--form-breakpoint)) {
						margin-bottom: 0;
					}
				}

				@media (min-width: var(--form-breakpoint)) {
					label {
						width: 33.33%;
						min-width: 33.33%;
						float: left;
						display: inline-block;
					}

					> input,
					> textarea,
					> div,
					select {
						width: 66.66%;
					}

					/* Overwriting input button width, can not use :not selector because safari doesn't support double selectors at this moment. */
					> input[type="submit"],
					> input[type="reset"],
					> input[type="button"] {
						width: auto;
					}

					span.nota-bene {
						max-width: 66.66%;
						float: right;
					}

					> div {
						float: right;
						margin-left: 0;

						a,
						p,
						span,
						button,
						a.button,
						input[type="button"],
						input[type="submit"],
						input[type="reset"] {
							max-width: 100%;
							float: none;
							margin-left: 0;
						}

						input,
						textarea,
						select {
							width: 100%;
						}

						input[type="radio"],
						input[type="checkbox"] {
							margin-left: 0;

							& + label {
								width: calc(100% - 2.2rem);
							}
						}
					}
				}
			}

			fieldset {
				display: inline-block;

				legend {
					font-size: var(--font-size-text);
				}

				> label,
				> div {
					width: 100%;
				}
			}

			@media (min-width: var(--form-breakpoint)) {
				> a,
				> p,
				> button,
				> a.button,
				> input[type="button"],
				> input[type="submit"],
				> input[type="reset"] {
					max-width: 66.66%;
					float: left;
					margin-left: 33.33%;
					clear: both;
				}

				> div {
					> a,
					> p,
					> button,
					> a.button,
					> input[type="button"],
					> input[type="submit"],
					> input[type="reset"] {
						max-width: 66.66%;
						float: left;
						margin-left: 33.33%;
					}
				}

				fieldset {
					> label,
					> div {
						float: left;
						margin-top: 1rem;
					}
				}
			}
		}
	}

	&.help {
		fieldset {
			> div {
				position: relative;
				min-height: 2.75rem;

				/* collapsed help buttons within lists of checkboxes or radio buttons */
				input[type="radio"],
				input[type="checkbox"] {
					margin-top: 0.5rem;

					& + label {
						margin-bottom: 1rem;
						margin-top: 0.5rem;

						&:last-child {
							margin-bottom: 0.5rem;
						}
					}
				}
			}

			/* Messages within grouped lists (e.g radio buttons and checkboxlists) */
			> label + div > p {
				margin-left: 0;
				max-width: 100%;
			}
		}

		> fieldset {
			> button.help-button {
				margin-top: 1.5rem;
			}
		}
	}
}

form.horizontal-view {
	fieldset {
		label {
			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}
