/*---------------------------------------------------------------*/
/*------------- components/form-component/input.scss ------------*/
/*---------------------------------------------------------------*/
/* Input behaviour */
form {
	input {
		box-sizing: border-box;
		padding: 0 0.75rem;
		font-size: inherit;
		font-family: inherit;
		flex-grow: 1;
		min-height: 44px;
		border: 1px solid var(--form-border-color); /* A border is needed to comply with the WCAG SC 1.4.11 rules concerning the contrast between the field and the surrounding color*/
		width: 100%;
		max-width: 100%;
		text-overflow: ellipsis;

		&:active,
		&.active {
			outline: 2px dotted #000;
		}

		&[type="color"] {
			padding: 0;
			flex-grow: unset;
			width: auto;
			min-width: 44px;
		}

		&[type="file"] {
			padding: 1rem;
			background-color: #fff;
		}

		&[type="range"] {
			-webkit-appearance: none;
			height: 2px;
			min-height: 0;
			border-radius: 5px;
			background: var(--ro-blue);
			outline: none;
			padding: 0;

			& ~ output {
				margin-left: 1rem;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 1.2rem;
				height: 1.2rem;
				border-radius: 50%;
				background: var(--ro-blue);
				cursor: pointer;
			}

			&::-moz-range-thumb {
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				background: var(--ro-blue);
				cursor: pointer;
			}

			&:disabled {
				background: var(--grey-3);

				&::-moz-range-thumb {
					background: var(--grey-3);
				}

				&::-webkit-slider-thumb {
					background: var(--grey-3);
				}
			}
		}
	}
}
