/*---------------------------------------------------------------*/
/*--------------- components/notification-base.scss -------------*/
/*---------------------------------------------------------------*/
.error,
.warning,
.confirmation,
.explanation,
.system-notification {
	color: var(--notification-base-notification-text-color);
	box-sizing: border-box;
	max-width: 100%;
	width: 100%;

	&.hidden {
		display: none;
	}

	a {
		color: var(--ro-blue-darker);

		&:hover {
			color: #002131;
		}

		&:visited {
			color: #6f3272;

			&:hover {
				color: #502552;
			}

			&:before {
				color: inherit;
			}
		}
	}
}

/* Message notification color */
.error {
	background-color: var(--notification-error-color);
}
.warning {
	background-color: var(--notification-warning-color);
}
.confirmation {
	background-color: var(--notification-confirmation-color);
}
.explanation {
	background-color: var(--notification-explanation-color);
}
.primary {
	/*@include app-color-tint-0; palegreen */
}
.system-notification {
	background-color: var(--grey-2);
}

/* Elements with an icon */
div,
p,
span {
	&.error,
	&.warning,
	&.confirmation,
	&.explanation,
	&.primary {
		&:before {
			/* @extend %message-icon; */
			top: 1.5rem;

			@media (min-width: 24rem) {
				left: 3%;
			}
		}
	}

	&.primary {
		background-color: #fff;
		color: var(--text-dark);
		/* border: 1px solid $app-background-color-tint-0; palegreen */
	}

	&.system-notification {
		padding: 1.5rem 3%;

		&:before {
			display: none;
			content: none;
		}
	}
}

/* Element specific styling */
div {
	&.error,
	&.warning,
	&.confirmation,
	&.explanation,
	&.primary,
	&.system-notification {
		/* @extend %block-message; */
	}
}

p {
	&.error,
	&.warning,
	&.confirmation,
	&.explanation,
	&.primary {
		position: relative;
		padding: 1.5rem 3% 1.5rem calc(3% + 3rem);

		&:before {
			top: calc(50% - 1rem);
			position: absolute;
			display: block;
			float: left;
			left: 1rem;
		}

		> span:first-of-type {
			font-weight: bold;
		}
	}
}

table {
	.error,
	.warning,
	.confirmation,
	.explanation,
	.primary {
		&:before {
			/* @extend %message-icon; */
			display: block;
			float: left;
			width: 1.5rem;
			min-width: 1.5rem;
			height: 1.5rem;
			min-height: 1.5rem;
		}
	}

	.error:before {
		background-position: 0 3rem;
	}

	.confirmation:before {
		background-position: 0 1.5rem;
	}

	.explanation:before {
		background-position: 0 4.5rem;
	}

	thead,
	tbody,
	tfoot {
		tr {
			&.error {
				&:nth-child(even) {
					background-color: var(--notification-error-color-darker);
				}

				th {
					/* @include error-intense; palegreen */
				}
			}

			&.warning {
				&:nth-child(even) {
					background-color: var(--notification-warning-color-darker);
				}

				th {
					/* @include warning-intense; palegreen */
				}
			}

			&.confirmation {
				&:nth-child(even) {
					background-color: var(--notification-confirmation-color-darker);
				}

				th {
					/* @include confirmation-intense; palegreen */
				}
			}

			&.explanation {
				&:nth-child(even) {
					background-color: var(--notification-explanation-color-darker);
				}
				th {
					/* @include explanation-intense; palegreen */
				}
			}
		}

		th {
			&.error {
				/* @include error-intense; palegreen */

				&:before {
					background-image: url(../img/notification_icons_light.svg);
				}
			}

			&.warning {
				/* @include warning-intense; palegreen */

				&:before {
					background-image: url(../img/notification_icons_dark.svg);
				}
			}

			&.confirmation {
				/* @include confirmation-intense; palegreen */

				&:before {
					background-image: url(../img/notification_icons_light.svg);
				}
			}

			&.explanation {
				/* @include explanation-intense; palegreen */

				&:before {
					background-image: url(../img/notification_icons_light.svg);
				}
			}
		}
	}
}

input,
select,
textarea,
input[type="checkbox"]:not(:checked),
input[type="radio"]:not(:checked) {
	&.error {
		border-color: var(--notification-error-color-intense);
	}

	&.warning {
		border-color: var(--notification-warning-color-intense);
	}

	&.confirmation {
		border-color: var(--notification-confirmation-color-intense);
	}

	&.explanation {
		border-color: var(--notification-explanation-color-intense);
	}

	&.primary {
		background-color: #fff;
		color: var(--text-dark);
		/* border: 1px solid $app-background-color-tint-0; palegreen */
	}
}

input,
select,
textarea {
	&.error,
	&.warning,
	&.confirmation,
	&.explanation,
	&.primary {
		border-width: 1px;
		border-style: solid;
		background-color: #fff;
	}
}

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	&.error,
	&.warning,
	&.confirmation,
	&.explanation {
		color: var(--text-dark);
	}

	&.error {
		/* @include error-intense; palegreen */

		&:hover {
			background-color: var(--notification-error-color-intense-darker);
			border-color: var(--notification-error-color-intense-darker);
		}
	}

	&.warning {
		/* @include warning-intense; palegreen */

		&:hover {
			background-color: var(--notification-warning-color-intense-darker);
			border-color: var(--notification-warning-color-intense-darker);
			color: var(--text-light);
		}
	}

	&.confirmation {
		/* @include confirmation-intense; palegreen */

		&:hover {
			background-color: var(--notification-confirmation-color-intense-darker);
			border-color: var(--notification-confirmation-color-intense-darker);
		}
	}

	&.explanation {
		/* @include explanation-intense; palegreen */

		&:hover {
			background-color: var(--notification-explanation-color-intense-darker);
			border-color: var(--notification-explanation-color-intense-darker);
			border-color: var(--notification-explanation-color-intense-darker);
		}
	}

	&.primary {
		/* @include app-color-tint-0; palegreen */
	}
}
