/*---------------------------------------------------------------*/
/*---------- components/notification/explanation.scss -----------*/
/*---------------------------------------------------------------*/
.explanation {
	background-color: blue;
	border-color: blue;

	&:before {
		background-position: 0 4.5rem;

		@media (min-width: 50rem) {
			background-position: 0 6rem;
		}
	}
}
