/*------------------------------------------------------------------------*/
/*----------------- components/layout-base-breakpoints.scss --------------*/
/*------------------------------------------------------------------------*/
$layout-base-breakpoint-1: 24rem;
$layout-base-breakpoint-2: 75rem;
$layout-base-content-block-breakpoint-1: 24rem;
$layout-base-content-block-breakpoint-2: 75rem;
