/*---------------------------------------------------------------*/
/*---------------- components/accordion.scss --------------------*/
/*---------------------------------------------------------------*/
/* Overwrite default styling for specific elements so they can be used as an accordion element */
.accordion > div {
	margin: 0;
	width: 100%;
}

.accordion {
	margin: 2rem 0;
	padding-left: 0;

	> * {
		list-style: none;
		padding: 0;
		display: flex;
		align-items: center;
		align-items: stretch;
		flex-direction: column;
		justify-content: center;

		> button {
			color: var(--app-background-color-tint-0-darker);
			font-size: var(--font-heading-size-small);
			text-decoration: none;
			padding-left: 1rem;
			margin: 0;
			min-height: 2.75rem;
			padding: 0.5rem;
			text-align: left;
			line-height: initial;

			background-color: var(--application-base-accent-color-tint-1);
			border: 2px solid var(--app-background-color-tint-0);

			& + div {
				padding: 1.5rem;
				border-color: var(--grey-3);
				border-style: solid;
				border-width: 0 1px;

				> h1 {
					margin: 0;
				}
			}

			&:before {
				content: "\E820";
				font-family: "RO Icons";
				font-size: 0.7rem;
				padding-right: 1rem;
				padding-left: 0.5rem;
			}
		}
	}

	&.icon-type-plus {
		> * > button:before {
			background-color: var(--app-background-color-tint-0-darker);
			content: "\E82C";
			color: var(--text-light);
			height: 1.4rem;
			width: 1.4rem;
			min-width: 0;
			padding: 0;
			margin-right: 1rem;
			border-radius: 50%;
			padding: 0.25rem;
			box-sizing: border-box;
			text-align: center;
			line-height: var(--de-emphasized-line-height);
			vertical-align: middle;
		}
	}
}

/* The expanded state */
.accordion > * > button {
}

/* Collapsed state (only when JavaScript is loaded) */
.js-accordion-loaded {
	/* The expanded state */
	.accordion {
		> * > button[aria-expanded="false"] {
			border: 0;
			background-color: var(--application-base-accent-color-tint-2);
			border-bottom: 1px solid var(--application-base-accent-color-tint-1);

			&:before {
				content: "\E81F";
			}

			& + div {
				display: none;
			}
		}

		&.icon-type-plus > * > button[aria-expanded="false"]:before {
			content: "\E821";
		}
	}
}

/* Styling the last element */
.accordion > *:last-child > button + div {
	border-bottom: 1px solid var(--grey-3);
}

.js-accordion-loaded .accordion > *:last-child > button[aria-expanded="false"] {
	border-bottom: 0;
}
